
   
  
    <div class="container" style="color: whitesmoke">
       
        <div class="ui-g"  style="text-align: center;background-color: blueviolet">
          <div class="ui-g-12 banner stroke" style="font-size: 350%" >Bienvenido a Sala de juegos</div> 
          <div class="ui-g-12" style="background: whitesmoke"></div>  
          <div class="container" style="margin-top: 5%;margin-bottom: 5%;">

        
              <div class="ui-g-6" style="font-size: 150%;background-color:whitesmoke">
                  <p-card>
                      <p-header>
                        Ya sos usuario?
                      </p-header>
                      Ingresá a tu cuenta para acceder a  los juegos
                      <p-footer>
                          <button mat-raised-button routerLink="Login" color="primary">Iniciar Sesión</button>
                      </p-footer>
                  </p-card>
              </div>
              <div class="ui-g-6"  style="font-size: 150%;background-color:whitesmoke">
                  <p-card>
                      <p-header>
                        Todavia no sos usuario?
                      </p-header>
                     Primera vez en la página?, no dudes en registrate, es simple y rápido
                      <p-footer>
                          <button mat-raised-button color="primary" >Registrarse</button>
                      </p-footer>
                  </p-card>
              </div>
             
          </div>
      </div>
      <div class="ui-g-12" style="background: whitesmoke"></div>  
    </div>

