.banner{



    background-image: url("../../../assets/images/bg.jpg");
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover; 
}

.stroke {
    -webkit-text-fill-color: whitesmoke;
    -webkit-text-stroke: 2px black;
    }