<mat-toolbar color="primary">
  <mat-toolbar-row>
      
      <button mat-raised-button  color="accent">ADIVINA EL NUMERO</button>
      <button mat-raised-button  color="accent">AGILIDAD ARITMETICA</button>
      <button mat-raised-button  color="accent">PIEDRA PAPEL TIJERA</button>
      <button mat-raised-button  color="accent">TA TE TI</button>
      <button mat-raised-button  color="accent">BLACKJACK</button>
      <span class="example-spacer"></span>
      <button mat-raised-button routerLink="MenuJuegos" color="accent">VOLVER</button>
      <button mat-raised-button routerLink="" color="warn">SALIR</button>
        <!--<span><p-tabMenu [model]="items"></p-tabMenu></span>   
    <span class="example-spacer"></span>
    <span><p-menubar [model]="items2"  ></p-menubar></span>-->  
  </mat-toolbar-row>
</mat-toolbar>