<p-menubar [model]="items">
    <div>
        <button pButton label="Estadisticas"></button>
        <button pButton label="Logout" (click)="salir()" icon="fa-sign-out"></button>        
    </div>
</p-menubar>
<!--<mat-toolbar color="primary" >
  <mat-toolbar-row style="width: 100%">
      <div class="ui-g-2 ui-md-4">
      <button mat-raised-button  color="accent">ADIVINA EL NUMERO</button>
      <button mat-raised-button  color="accent">AGILIDAD ARITMETICA</button>
      <button mat-raised-button  color="accent">ANAGRAMA</button>
      <button mat-raised-button  color="accent">PIEDRA PAPEL TIJERA</button>
      <button mat-raised-button  color="accent">TA TE TI</button>
      <button mat-raised-button  color="accent">BLACKJACK</button>
      </div>  
      <span class="example-spacer"></span>          
      <div class="ui-g-2">      
      <button mat-raised-button routerLink="" color="accent">RESULTADOS</button>
      <button mat-raised-button (click)="salir()" routerLink="" color="warn">SALIR</button>
      </div>
        <span><p-tabMenu [model]="items"></p-tabMenu></span>   
    <span class="example-spacer"></span>
    <span><p-menubar [model]="items2"  ></p-menubar></span>
  </mat-toolbar-row>
</mat-toolbar>-->