<app-cabecera> </app-cabecera>

<mat-toolbar color="accent">
        <mat-toolbar-row>
            <span>Jugador : {{nombreJugador}}</span>
        </mat-toolbar-row>
    </mat-toolbar>

<div class="container" style="text-align:center;background-color: whitesmoke;margin-top: 5%">
      
    <form name="juego">
    
          <div [hidden]="nuevoJuego.resultado == 'Ganó' || nuevoJuego.resultado == 'Perdió'">
              <div class="row">
                  <div class="col-lg-6 offset-lg-3">
                      <h5>Ingrese un número (1-100):</h5> <input [(ngModel)]="nuevoJuego.numeroIngresado" id="numeroIngresado" placeholder="Ingrese número" name="numeroIngresado" type="number" class="form-control"/>
                  </div>
              </div>
              <br>
                <h5><p *ngIf="nuevoJuego.numeroIngresado == 0" ><i class="fa fa-spinner fa-spin"></i> Esperando que ingrese un número</p></h5>
                <h5 *ngIf="nuevoJuego.numeroIngresado != 0" >Numero ingresado: {{nuevoJuego.numeroIngresado}}</h5>
                <br>
                <h5>Intentos utilizados: {{nuevoJuego.intentos}} / 10</h5>
          </div>
          
          <br>
    
            <h4 [hidden]="ocultarVerificar"><button id="verificar" *ngIf="nuevoJuego.numeroSecreto!=0" (click)="verificar()" class="btn btn-success btn-lg">Verificar</button></h4>
     
        <h5><button *ngIf="nuevoJuego.numeroSecreto == 0 " (click)="comenzarJuego()" mat-raised-button color="warn" class="btn">Comenzar juego</button></h5>
      
     
       
    
        <h5 [hidden]="nuevoJuego.resultado != 'Ganó'" class="alert alert-success">Felicitaciones, ¡adivinaste el número!</h5>
        <h5 [hidden]="nuevoJuego.resultado != 'Perdió'" class="alert alert-danger">Que lástima, no pudiste adivinar el número secreto </h5>
        
        <h6 [hidden]="nuevoJuego.resultado != 'Ganó' && nuevoJuego.resultado != 'Perdió'">
          Resultados finales:
          <br>
          <br>
          Número secreto: {{nuevoJuego.numeroSecreto}}
          <br>
          Intentos: {{nuevoJuego.intentos}}
        </h6>
    <br>
        <h4 [hidden]="nuevoJuego.resultado != 'Ganó' && nuevoJuego.resultado != 'Perdió'"><button mat-raised-button color="warn" class="btn" (click)="reiniciarJuego()">Reiniciar juego</button></h4>
 
        
    </form>
    <div  style="text-align:center" id="snackbar">{{Mensajes}}</div>
    </div>
  
   