<app-cabecera>  </app-cabecera>

<div class="container" style="width: 50%;height: 300%;margin-top: 5%">
<p-carousel  headerText="Juegos" circular="circular" autoplayInterval="5000" numVisible="1" [value]="juegos">
    <ng-template let-juego pTemplate="item">
        <div class="ui-g-12"  style="font-size: 150%;background-color:darkslateblue;text-align: center;">
            <p-card >
                <p-header  >
                 {{juego.name}}
                </p-header>
                <div class="container">
                   <img src="{{juego.img}}">

                   
                    {{juego.desc}}
                </div>                 
                
                <p-footer style="font-size: 85%">
                    <button mat-fab color="primary" >Jugar</button>
                </p-footer>
            </p-card>
        </div>
    </ng-template>
</p-carousel>

</div>