
<div class="container banner stroke">
       
   
   
    <div class="container" style="background: whitesmoke; margin-top: 5%;margin-bottom: 5%;">
      <div class="ui-g-12"  style="font-size: 150%;background-color:whitesmoke;text-align: center">
        <p-card>
            <p-header>
              Iniciar Sesión
            </p-header>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut nihil quaerat incidunt illum tempore sint cupiditate, ullam, eius, iure ea cum! Sapiente reiciendis distinctio exercitationem, temporibus accusantium in voluptas unde?
            <p-footer>
                <button mat-raised-button color="primary" (click)="Login()">Iniciar sesión</button>
                <button mat-raised-button routerLink="" color="warn">SALIR</button>
            </p-footer>
        </p-card>
    </div>
  

  
        
       
    </div>
    
</div>


