
<div class="container banner stroke">
       
   
   
    <div class="container" style="background: whitesmoke; margin-top: 5%;margin-bottom: 5%;">
      <div class="ui-g-12"  style="font-size: 150%;text-align: center">
      
            <div class="container">
                <div class="ui-g-12 ui-md-12" style="text-align: center">
                    <div class="ui-inputgroup">
                        
                        <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
                        <input type="text" pInputText placeholder="Usuario">  
                     
                        
                        <span class="ui-inputgroup-addon"><i class="fa fa-key"></i></span>
                        <input type="password" placeholder="Contraseña"  [(ngModel)]="pass"/> 
                            
                    </div> 
                </div>                
            </div>
    <div class="container ui-g-12" style="text-align: center">
            <button mat-raised-button color="primary" (click)="Login()">Iniciar sesión</button>
    </div>
               
                
           
      
    </div>
  

  
        
       
    </div>
    
</div>


