<app-cabecera> </app-cabecera>
<mat-toolbar color="accent">
        <mat-toolbar-row>
            <span>Jugador : {{nombreJugador}}</span>
        </mat-toolbar-row>
    </mat-toolbar>
    <div class="container" style="text-align: center;">
     
        <div style="padding: 10px;background:whitesmoke;margin-top: 5%">
          <div [hidden]="botonesEleccion">
            <h4 style="color: black;">Seleccione su personaje favorito:</h4>
            <br>
            <br>
            <button mat-raised-button (click)="eleccionSigno('X')"><img src="assets/images/X.gif" border="0" name="rc9"></button>
            <button mat-raised-button (click)="eleccionSigno('O')"><img src="assets/images/O.gif" border="0" name="rc9"></button>
          </div>
          <div [hidden]="botonesJuego">
            <h4 style="color: black;">Comienza el juego</h4>
                
                <div class="ui-g-12">
                    <button mat-raised-button id="botonUno" (click)="modificar(0)" [disabled]="band==true"><img src="assets/images/nothing.gif" id="rc0" border="0" name="rc0"></button>
                    <button mat-raised-button id="botonDos" (click)="modificar(1)" [disabled]="band==true"><img src="assets/images/nothing.gif" id="rc1" border="0" name="rc1"></button>
                    <button mat-raised-button id="botonTres" (click)="modificar(2)" [disabled]="band==true"><img src="assets/images/nothing.gif" id="rc2" border="0" name="rc2"></button>
                   
                </div>
                <div class="ui-g-12">
                    <button mat-raised-button id="botonCuatro"(click)="modificar(3)" [disabled]="band==true"><img src="assets/images/nothing.gif" id="rc3" border="0" name="rc3"></button>
                    <button mat-raised-button id="botonCinco" (click)="modificar(4)" [disabled]="band==true"><img src="assets/images/nothing.gif" id="rc4" border="0" name="rc4"></button>
                    <button mat-raised-button id="botonSeis" (click)="modificar(5)" [disabled]="band==true"><img src="assets/images/nothing.gif" id="rc5" border="0" name="rc5"></button>
                   
                </div>
                <div class="ui-g-12">

                    <button mat-raised-button id="botonSiete"(click)="modificar(6)" [disabled]="band==true"><img src="assets/images/nothing.gif" id="rc6" border="0" name="rc6"></button>
                    <button mat-raised-button id="botonOcho" (click)="modificar(7)" [disabled]="band==true"><img src="assets/images/nothing.gif" id="rc7" border="0" name="rc7"></button>
                    <button mat-raised-button id="botonNueve" (click)="modificar(8)" [disabled]="band==true"><img src="assets/images/nothing.gif" id="rc8" border="0" name="rc8"></button>
                </div>
                <br>
                <br>
                <br>
                <br>
            
            
        </div>
        <br>
        <br>
        <div [hidden]="terminoJuego">
          <button mat-raised-button color="warn" class="btn btn-lg" (click)="reiniciarJuego()">Reiniciar juego</button>
        </div>
        <br>
        <br>
        <div *ngIf="nuevoJuego.resultado == 'Perdio'">
             <div class="alert alert-danger" role="alert">
                   ¡Perdiste, perdiste, no hay nadie peor que vos!
                  </div>
        </div>
        <div *ngIf="nuevoJuego.resultado == 'Empate'">
                <div class="alert alert-warning" role="alert">
                        ¡Empataron con la máquina!
                      </div>
        </div>
        <div *ngIf="nuevoJuego.resultado == 'Gano'">
<div class="alert alert-success" role="alert">
                        ¡Ganaste!
</div>
        </div>
        <br>
        <br>
        


      </div>
    </div>