<app-cabecera> </app-cabecera>

    
    <div style="padding-top: 10px;padding-bottom:10px;background-color:black;color: whitesmoke;border-radius:2px; margin-top: 5% ">
        <div style="text-align: center">
            <font face="verdana" size="4">Juego:</font> <select style="border-radius: 8px;background-color:black;color:white;" [(ngModel)]="filtroJuego">
                    <option value="">Seleccione un juego</option>
                    <option value="aen">Adivina el número</option>
                    <option value="aa">Agilidad aritmética</option>
                    <option value="rv">Blackjack</option>
                    <option value="ppt">Piedra papel o tijera</option>
                    <option value="ttt">Ta-te-ti</option>
                    <option value="ag">Anagrama</option>
                  </select>
        </div>
    </div>
    
    
    
   <div style="background-color:whitesmoke;">
      <div *ngIf="filtroJuego == 'aen'">
          <table class="table table-striped">
              <thead>
                <th>Usuario</th>
                <th>Resultado</th>
                <th>Cantidad de intentos</th>
              </thead>
              <tbody *ngFor="let item of resultadosAdivina">
                <td>{{item.usuario}}</td>
                <td>{{item.resultado}}</td>
                <td>{{item.intentos}}</td>
              </tbody>
            </table>
      </div>
      
      <div *ngIf="filtroJuego == 'aa'">
          <table class="table table-striped">
              <thead>
                <th>Usuario</th>
                <th>Cantidad de aciertos</th>                
              </thead>
              <tbody *ngFor="let item of resultadosAgilidad">
                <td>{{item.usuario}}</td>
                <td>{{item.cantAciertos}} / 5</td>               
              </tbody>
            </table>
      </div>
      
      <div *ngIf="filtroJuego == 'ag'">
          <table class="table table-striped">
              <thead>
                <th>Usuario</th>
                <th>Resultado</th>               
                <th>Palabra que adivinó</th>
              </thead>
              <tbody *ngFor="let item of resultadosAnagrama">
                <td>{{item.usuario}}</td>
                <td>{{item.resultado}}</td>               
                <td>{{item.palabraOrdenada}}</td>
              </tbody>
            </table>
      </div>
      
      <div *ngIf="filtroJuego == 'ppt'">
          <table class="table table-striped">
              <thead>
                <th>Usuario</th>                
                <th>Resultado</th>
              </thead>
              <tbody *ngFor="let item of resultadosPPT">
                <td>{{item.usuario}}</td>               
                <td>{{item.resultado}}</td>
              </tbody>
            </table>
      </div>
      
      <div *ngIf="filtroJuego == 'rv'">
          <table class="table table-striped">
              <thead>
                <th>Usuario</th>
                <th>Resultado</th>
              </thead>
              <tbody *ngFor="let item of resultadosBlackJack">
                <td>{{item.usuario}}</td>
                <td>{{item.resultado}}</td>
              </tbody>
            </table>
      </div>
      <div *ngIf="filtroJuego == 'ttt'">
          <table class="table table-striped">
              <thead>
                <th>Usuario</th>
                <th>Resultado</th>
              </thead>
              <tbody *ngFor="let item of resultadosTateti">
                <td>{{item.usuario}}</td>
                <td>{{item.resultado}}</td>
              </tbody>
            </table>
      </div>
   </div>
    
    
  
    
